lightning
einops
pillow
imageio
imageio-ffmpeg
tqdm
easydict
opencv-python-headless
scipy
ninja
rembg[gpu]
pyliblzfse
xatlas
pyvista
igraph
transformers
addict
timm
tensorboard
viser
hydra-core
e3nn
git+https://github.com/EasternJournalist/utils3d.git@9a4eb15e4021b67b12c460c7057d642626897ec8